* {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}

body {
     background-color: rgb(59, 59, 59);
     color: rgba(1, 1, 1, 0.754);
     font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
}

a {
     text-decoration: none;
}

a:hover{
     text-decoration: none;
}

ul {
     list-style: none;
}

img {
     max-width: 100%;
}

/* UTILITY */

.container {
      max-width: 1100px;
      margin: 0px auto;
      padding: 0px 15px;
}

.container-sm {
     max-width: 800px;
     margin: 0px auto;
     padding: 0px 15px;
}

.featured-container {
     background-color: rgb(255, 255, 255);
     max-width: auto;
     padding: 0px 15px;
     display: flex;
     justify-content: space-around;
}

/* TEXT UTILITY */

.text-align {
     text-align: center;
}

.text-lrg {
     font-size: large;
}

.text-xl {
     font-size: x-large;
}

.text-bold {
     font-weight: bold;
}
/* NAVBAR */

.navbar{
     background-color: #abc4ff;

}

.navbar .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.navbar .logo {
     width: 100px;
}

.navbar .search {
     background-color: #ccdbfd;
     border-width: 0px;
     margin-right: 138px;
     padding-right: 90px;
     text-decoration: none;
     box-shadow: 1px 1px 6px 1px rgba(73, 60, 60, 0.365);
     font-size: large;
}

.navbar .main-menu ul {
     display: flex;
}

.navbar ul li a {
     padding: 10px 20px;
     display: block;
     font-weight: 600;
     transition: 0.5;
     color: black;
     border-right: #ccdbfd solid 10px;

}

.navbar ul li a:hover {
     color: white;
}


/* RESPONSIVE RULES */

/* FEATURED DISHES */

.featured {
     display: flex;
     justify-content: space-between;
     max-width: 400px;
     color: black;
     font-family: "Vampiro One", system-ui;
     font-weight: 10px;
     font-style: normal;
}

.section-1{
     background-color: #abc4ff ;
     color: black;
     padding: 10px;
}

.section-1 .container {
     background-color: rgba(0, 255, 255, 0);
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 10px;
}

.section-1 .container-sm {
     background-color: #ccdbfd00;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 10px;
}

.section-1 figure{
     background-color: #ccdbfd;
     margin: auto;
     padding: 5px;
     border: rgb(255, 255, 255) solid 5px;
     text-align: center;
     text-transform: uppercase;
     width: 200px;
     border-radius: 20px;
}

.section-1 figure img{
     border-radius: 20px;
     width: 200px;
}

/* LITTLE ABOUT US */

.little-about-us {
     background-color: #abc4ff;
     padding: 25px;
}

.little-about-us-header {
     background-color: white;
}

.little-about-us .little-about-us-img {
     display: flex;
     justify-content: space-between;
}

.little-about-us .little-about-us-img img {
     max-width: 260px;
     border: white solid 5px;
     border-radius: 20px;     
}

.little-about-us-text {
     margin: auto 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.little-about-us .little-about-us-text p:first-child {
     margin: auto 30px;
     border: white solid 5px;
     border-radius: 20px;
     width: 400px;
     background-color: white;
     color: black;
     margin-bottom: 10px;
}

.little-about-us .little-about-us-text p:last-child {
     margin: auto 30px;
     border: white solid 5px;
     border-radius: 20px;
     background-color: white;
     color: black;
}

 /* FOOTER */

footer{
     background-color: rgb(0, 0, 0);
     color: rgba(138, 138, 138, 0.493);
     font-size: 12px;
     padding: 20px 20px;
     text-align: center;
}


