body{
     background-color: rgb(59, 59, 59);
     color: rgba(1, 1, 1, 0.754);
     font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
     margin: 0px;
     padding: 0px;
}
header{
     padding: 20px;
     height: 400px;
     background-color: rgba(255, 255, 255, 0.533);
     background-image: url(/img/header-img.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     text-align: center;
}
header a {
     color: rgba(255, 255, 255, 0.78);
     text-decoration: none;
     text-transform: uppercase;
     margin-top: 40px;
}
header .logo a {
     background-color: rgba(255, 0, 0, 0);
     background-image: url(/img/logo.png);
     background-size: 200px;
     background-repeat: no-repeat;
     display: inline-block;
     text-indent: -999999px;
     position: relative;
     top: -78px;
     width: 200px;
     height: 200px;
}
section{
     background-color: white;
     color: black;
     padding: 20px;
     display: flex;
     flex-direction: row;
}
div{
     background-color: blue;
     margin: auto;
     width: 100px;
}
ul{
     margin: 0px;
     padding: 0px;
     list-style-type: none;
}
li{
     display: inline-block;
     margin-right: 20px;
}
footer{
     background-color: black;
     padding: 10px 20px;
}
a{
     text-decoration: none;
}
a:hover{
     text-decoration: underline;
}
